@use '../../../assets/sass/common';

:host {
	@include common.display-flex-column;
	align-items: center;
	justify-content: space-evenly;
}

@media (max-width: 1200px) {
	:host {
		@include common.display-flex-column;
		align-items: center;
	}
}

@media (max-width: 500px) {
}
