@use '../../../assets/sass/common';

:host {
	@include common.fill-available;
	height: 100vh;
	&.main-layout {
		@include common.display-flex-row;
	}
}

.layout-sidebar {
	height: 100%;
	@include common.display-flex-column;

	.spacer {
		flex: 1 1 auto;
	}

	.divider {
		margin: 0;
	}

	.layout-sidebar__header {
		@include common.fill-available-width;
		@include common.display-flex-row;
		align-items: start;
		justify-content: space-between;
		padding: 0.4rem;

		p-button {
			margin: 6.5px 8px;
		}
		p-button.show-on-hover {
			display: none;
		}

		.layout-sidebar__logo {
			user-select: none;
			width: 40px;
			margin: 4px;
			border-radius: 0.5rem;
			&:hover {
				cursor: pointer;
				background: rgba(255, 255, 255, 0.1);
			}
		}
	}

	&:hover {
		.layout-sidebar__header {
			img.hide-on-hover {
				display: none;
			}
			p-button.show-on-hover {
				display: block;
			}
		}
	}

	.layout-sidebar__menu {
		padding: 0.4rem;
	}
}

.layout-main {
	@include common.fill-available;
	background: #1e1e1e;
}

@media (max-width: common.$tablet) {
}

@media (max-width: 500px) {
	:host {
		&.main-layout {
			@include common.display-flex-column;
		}
	}

	.layout-sidebar {
		&--closed {
			@include common.display-flex-row;
			height: 61px;

			.layout-sidebar__menu {
				display: none;
			}

			.divider {
				display: none;
			}
		}
	}

	.sidebar-open {
		display: none;
	}
}
