:host {
  width: -webkit-fill-available;
  max-height: -webkit-fill-available;
  height: 100vh;
  &.main-layout {
    display: flex;
  }
}

.layout-sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;

  .spacer {
    flex: 1 1 auto;
  }

  .divider {
    margin: 0;
  }

  .layout-sidebar__header {
    width: -webkit-fill-available;
    display: flex;
    align-items: start;
    padding: .4rem;
  }

  .layout-sidebar__menu {
    padding: .4rem;
  }
}

.layout-main {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background: #1e1e1e;
}
