<router-outlet />
@if (_authService.tokenParsed$()) {
  <div>
    profile:
    {{ _authService.profile$() | json }}
  </div>
  <hr>
  <div>
    token decoded:
    {{ _authService.tokenParsed$() | json }}
  </div>
  <hr>
  <div>
    token:
    {{ _authService.getToken() }}
  </div>
}
@else {
  <div>
    Unauthorized!
  </div>
}

<button (click)="free()">free</button>
<button (click)="token()">token</button>
<button (click)="authorize()">authorize</button>
<button (click)="logout()">logout</button>
