:host {
	&.user-card {
		display: flex;
		align-items: center;
		border-radius: 0.5rem;
		padding: 0.5rem 0.5rem;
		margin: 0.4rem;
    text-wrap: nowrap;

		&__show-all {
			gap: 0.5rem;
		}

		&:hover {
			cursor: pointer;
			background: rgba(255, 255, 255, 0.1);
		}

		&__open-actions {
			background: rgba(255, 255, 255, 0.05) !important;
		}
	}
}

.user-avatar {
	aspect-ratio: 1/1;
}
