@use 'tailwindcss';
@use 'typography';

.p-panelmenu {
  gap: .2rem !important;
  .p-panelmenu-panel {
    border: none;
    background: none;
    padding: 0 !important;
  }
  .p-panelmenu-header-link {
    &.only-icon {
      justify-content: center;
    }
  }
}

.p-button {
  aspect-ratio: 1/1;
}
